
:root {
  --gray: #747474;
  --darkergray: #4d4d4d;
  --lightgray: #747474;
  --darkgray: #5a5a5a;
  --white: #cccccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: antiquewhite;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--darkergray);
}

/*header*/
header,
.forecast-header {
  font-family: 'Nunito', sans-serif;
  line-height: 200%;
}
#search-button{
  background-color: #4d4d4d;
}
header,
.forecast-header {
  background-image: linear-gradient(
    90deg,
    var(--white),
    var(--darkergray)
  );
  
}

main {
  font-family: 'Nunito', sans-serif;
}

/*search history style*/
.serach-history .searched-city-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.searched-city-btn:hover {
  background-color: var(--darkgray);
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

/*current weather*/
#current-weather {
  line-height: 200%;
}

.date-time {
  display: flex;
  justify-content: space-between;
}

#current-weather-icon,
#forecast-weather-icon {
  width: 100px;
  height: 100px;
  margin: -20px;
}

.weather-conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*5 day forecastt*/

.forecast-five-day {
  list-style: none;
  background-color: #4d4d4d;
  text-align: center;
  display: inline-block;
  justify-content: space-around;
  padding: 1%;
  margin: 1%;
  background: var(--white);
  border-radius: 10px;
}

.forecast-five-day {
  box-shadow: 
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.forecast-five-day li {
  position: relative;
  vertical-align: top;
}
